@media screen and (min-width: 1200px)
{
body {
	background-image:url("cssMedia/Bg01.jpg");
	width: 100%;
	height: 100%;
	margin-top: 0;
	background-size:cover;
	background-attachment:fixed;
	margin: auto;
}
.lev2 {
  margin: auto;
  max-width:1200px;
}

.lev3 {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}

.lev4 {
  margin: auto;
  max-width:1200px;
  border-radius: 50px;
  padding: 10px;
  background-color: #fff;
  height: 100%;
  background-image: url("cssMedia/Bg01Br.jpg");
background-size:cover;
background-attachment:fixed;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	flex-direction: column;
}
div.tophead {
    display: flex;
	height: 300px;
	
}
div.mhead {
    background-color: #1A1135;
    display:inline-flex;
    padding: 15px;
    border-radius: 0 0 2em 2em;
    margin: 0 0 2em 2em;
	transform: scale(1);
	position: fixed;
	margin-left: 1em;
	margin-top: 0em;
	flex-direction: column;
	
}
div.nev1 {
    color:white ;
    align-self: baseline;
    margin-left: 40em;
    margin-top: 4em;
	flex-direction: row;
	font-weight: 600;
}
a.nev2 {
    font-family:Poppins ;
    color: white;
    margin-right: 4em;
    font-size: 20pt;
	background-color: #B24338;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
div.s1head {
    display:inline-flex;
    flex-direction: column;
    margin: auto;
}
div.s2head {
    display:inline-flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: 1em;
}
p.my {
    font-family: Poppins;
    font-size: 25pt;
    color: white;
    font-weight: 600;
    text-align: center;
    margin: auto ;
	background-color: #1A1135;
	margin-top: 10px;
}
p.cstu {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-family: Poppins;
    font-size: 30pt;
    color: white;
    font-weight: 600;
    margin: 0;
    background-color: #5B4092;
    border-radius: 20px;
	text-align: center;
	padding: 5px;
}
p.passp {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-family: Poppins;
    font-size: 18pt;
    color: white;
    font-weight: 600;
    margin: auto;
}
.nev3 {
	font-family:Poppins ;
    color: white;
    margin-right: 4em;
    font-size: 20pt;
	background-color: #F87862;
	border-radius: 10px;
	padding: 6px 25px 6px 25px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.lev5 {
	height: 600px;
	display: inline-flex;
}

.lev6 {
	background-color: rgba(255, 156, 157, 0.6);
	font-family:Poppins; 
	font-weight: 900;
	margin-left: 15em;
	display: inline-flex;
	flex-direction: column;
	padding: 0px;
	height: 450px;
	width: 800px;
	border-radius: 50px;
	transform: scale(1);
	
}

#our {
	font-size: 60pt;
	line-height: 1;
	margin-top: 0px;
	padding: 18px;
	text-align: center;
	background-color: #412E6C;
	color: #F87862;
	border-radius: 50px;
}

#cstu2 {
	font-size: 150pt;
	margin: 30px;
	line-height: 0;
	text-align: center;
	color: white;
}

#pasp2 {
	font-size: 60pt;
	line-height: 1;
	margin-top: 80px;
	padding: 18px;
	text-align: center;
	background-color: #F66E58;
	color: #412E6C;
	border-radius: 50px;
	}
#ourtem {
	font-family: Poppins;
	font-size: 80pt;
	text-align: center;
	margin: 0;
	font-weight: 900;
	color: white;
}

.lev8 {
	display: flex;
	flex-direction: column;
	
}

.t1 {
	margin: auto;
	width: 800px;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	border-radius: 30px;
}

#tname01 {
	font-family: Poppins;
    font-size: 40pt;
    color: #F87862;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-weight: 900;
	background-color: white;
	border-radius: 20px;
}

.inte1 {
	display: flex;
	flex-direction: row;
	margin-top: 40px;
}

.pic01 {
	background-color: white;
	height: 300px;
	width: 220px;
	border-radius: 20px;
	margin-left: 50px;
	margin-top: 70px;
}

.info {
	background-color: #9B342F;
	height: 450px;
	width: 450px;
	border-radius: 25px;
	margin-left: 50px;
	margin-bottom: 30px;
	font-family: Poppins;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.ptes1 {
	display: flex;
}

.grops {
	font-family: Poppins;
	color: white;
	font-size: 18pt;
	text-align: center;
	margin: auto;
}

.gop1 {
	background-color: #BC473B;
	margin-top:10px;
	padding: 10px;
	border-radius: 20px;
}

a.nev2:hover {
	background-color: #9B342F;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}
a.nev3:hover {
	background-color: #9B342F;
}

.freespa {
	height: 200px;
}

.imafef {
	height: 300px;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
    .slideshow-container {
      max-width: 600px;
      position: relative;
      margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
    }

    .slide {
      display: none;
      text-align: center;
    }

    .dot-container {
      margin-top: -80px;
		display: flex;
		margin-left: 30px;
    }

    .dot {
      height: 15px;
      width: 15px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
		margin-left: 30px;
    }

    .dot.active {
      background-color: #717171;
    }

    .prev, .next {
      cursor: pointer;
      position: relative;
      top: -25px;
      width: auto;
      padding: 8px;
      color: #F87862;
      font-size: 20px;
      font-weight: bold;
      border-radius: 0 3px 3px 0;
      user-select: none;
      background-color: white;
      display: inline-block;
		margin-left: 30px;
    }

    .prev {
      left: 0;
      border-radius: 3px 0 0 3px;
    }

    .next {
      right: 0;
    }
#tname02 {
	font-family: Poppins;
    font-size: 40pt;
    color: #F87862;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-weight: 900;
	background-color: white;
	border-radius: 20px;
}


.infopage01inff {
		background-color: #5B4193;
	height: 450px;
	width: 450px;
	border-radius: 25px;
	margin-left: 50px;
	margin-bottom: 30px;
}
.Topcisd {
	font-size: 25pt;
	font-weight: 900;
	text-align: center;
	color: #9B342F;
	background-color:#FFFFFF;
	padding: 10px;
	border-radius: 15px;
	width: 400px;
	margin: 0;
	margin-top: 15px;
	
}

.Name {
	margin-top: 40px;
	font-size: 20pt;
	margin-left: 10px;
	color: white;
	line-height: 1px;
}

.data01 {
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: left;
	height: 120px;
}

.spadname {
background-color: #AF5151;
	padding: 5px;
	border-radius: 8px;
}

.sldjk01 {
			background-color: #9B342F;
	height: 450px;
	width: 450px;
	border-radius: 25px;
	margin-left: 50px;
	margin-bottom: 30px;
	font-family: Poppins;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.info2 {
		/*background-color: #9B342F;*/
	height: 450px;
	width: 450px;
	border-radius: 25px;
	margin-left: 0px;
	margin-bottom: 30px;
	font-family: Poppins;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.sldjk02 {
				background-color: #1A1135;
	height: 450px;
	width: 450px;
	border-radius: 25px;
	margin-left: 50px;
	margin-bottom: 30px;
	font-family: Poppins;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}

.Topcisd2 {
	font-size: 25pt;
	font-weight: 900;
	text-align: center;
	color: #1A1135;
	background-color:#FFFFFF;
	padding: 10px;
	border-radius: 15px;
	width: 400px;
	margin: 0;
	margin-top: 15px;
}

.spadname2 {
	background-color: #55488C;
	padding: 5px;
	border-radius: 8px;
}

#tname03 {
		font-family: Poppins;
    font-size: 40pt;
    color: #F87862;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-weight: 900;
	background-color: white;
	border-radius: 20px;
}

#tname04 {
		font-family: Poppins;
    font-size: 40pt;
    color: #F87862;
	text-align: center;
	margin: 0;
	padding: 10px;
	font-weight: 900;
	background-color: white;
	border-radius: 20px;
}
}